<article style="margin-left:15px;">
<h2>Instructions</h2>
<ul style="color:white">
	<li>Sign up with a youtube account</li>
	<li>Upload videos to that account</li>
	<li>Be sure to add #BB in either the title or description of the video</li>
	<li>Share your bloodborne.me page link and enjoy your video clips*</li>
</ul>

<h5>*Video clips are updated every 15 minutes</h5>

More bloodborne content to come!
<br>
<h3>Planned Features</h3>
<ul>
	<li>voting</li>
	<li>best clips of the week round-up</li>
	<li>sharing on twitter</li>
	<li>builds</li>
	<li>pvp tactics</li>
	<li>fashion!</li>
</ul>
<hr>
<a href='http://twitch.tv/silentbunny'>Suggestions welcome over at my stream :) <3</a>
<hr>
<a href=<%= request.referer %>>Back</a>
</article>