<form id="signup" action="/signup/confirm">
<fieldset>
<legend>Register</legend>
  <label for="user-name">Youtube Channel:</label>
  <input name="user-name" type="text" placeholder="channel name" required autofocus>
  <hr>
<!--   <label for="password">Password:</label>
  <input name="password" type="password" placeholder="minimum 6 digits" required>
  <hr> -->
  <input type="submit" value="Next">
</fieldset>
<!-- <aside style="padding-top:40px;font-size:10px;">Your password is not stored on the server ☺</aside> -->
</form>