<article style="margin-left:15px;">
want to get a notification when I make this an option? email me :)
<a title="Gmail" href="mailto:alessandro.minali@mail.com">
		<i class="fa fa-envelope fa-lg"></i>
</a>
<hr>
<a href=<%= request.referer %>>Back</a>
</article>